*, body, h1, ul, h2, h3, #skills, .skilllist, .sample, #bio {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
#home,
#work,
#me {
  height: 100vh;
}
#profile {
  box-sizing: border-box;
}
.clearfix, #skills {
    display: flex;
    flex-direction: row;
  }
#logo, nav, .skilllist {
    display: inline;
    justify-content: space-around;
  }
  #logo, h1 {
    font-size: 3em;
    text-transform: uppercase;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: blue;
    text-decoration: none;
  }

  span {
  font-style: italic;
  }
  footer {
    display: flex;
    justify-content: baseline;
  }
  footer li {
    display: inline;
    text-decoration: none;
    padding-left: 10px;
  }
  #icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .socialicons {
    display: inline;
    justify-content: space-around;
    height: 2em;
    width: 2em;
  }
  /*@media (min-width: 40em) {
    main {
      width: 35em;
    }
  @media (min-width: 28em) {
    footer li {
      width: 9em;
      margin-left: 1em;
    }
  /*--HELPERS*/
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both;
  }
