div > h1 {
  font-size: 3em;
  color: #896565;
}
div > h3 {
  font-style: italic;
}
a {
  color: #896565;
}
a:hover {
  color: blue;
  text-decoration: none;
}
nav a {
  text-decoration: none;
  color: black;
}


/* style my navigation */
nav li {
  list-style: none;
}
#masthead {
  background-color: #9a85a1;
}
.main-nav {
  border: 1px solid black;
}
.feature {
  border: 1px solid black;
}
.profile {
  width: 300px;
}
img {
  max-width: 100%;
}
body {
  font: normal 16px/1.4 Helvetica;
}
span {
  font-style: italic;
}
