div > h1 {
  font-size: 3em;
  color: #40441E;
}
div > h3 {
  font-style: italic;
}
a {
  color: #40441E;
}
a:hover {
  color: blue;
  text-decoration: none;
}
.bio {
  width: 50%;
}
body {
  font: normal 1em/1.4 Helvetica;
  margin: 0;
  padding: 0;
  background-color: tan;
}
.feature {
  border: 1px solid black;
  width: 50%;
}
img {
  max-width: 100%;
}
/* style my navigation */
.main-nav {
  border: 1px solid black;
}
#masthead {
  background-color: #7C6179;
  width: 50%;
}
nav a {
  text-decoration: none;
  color: black;
}
nav li {
  list-style: none;
}
nav ul {
  padding: 0;
}
//* end of navigation style *//
.profile {
  float: left;
  width: 100px;
}
span {
  font-style: italic;
}
