div > h1 {
  font-size: 3em;
  color: #665659;
}
div > h2 {
  color: #665659
}
div > h3 {
  color: #665659;
  font-style: italic;
}
a {
  color: #40441E;
}
a:hover {
  color: blue;
  text-decoration: none;
}
.bio {
  padding-top: 10px;
  width: 50%;
}
body {
  align-content: center;
  background-color: tan;
  display: center;
  font: normal 1em/1.4 Helvetica;
  margin: 0 auto;
}
.feature {
  border: 1px solid black;
  width: 50%;
}
img {
  float: left;
  max-width: 25%;
}
/* style my navigation */
.main-nav {
  border: 1px solid black;
}
#masthead {
  background-color: #FFC0CA;
  width: 50%;
}
nav a {
  text-decoration: none;
  color: black;
}
nav li {
  list-style: none;
}
nav ul {
  padding: 0;
}
//* end of navigation style *//
.profile {
  float: left;
  width: 50%;
}
span {
  font-style: italic;
}
