 {
  box-sizing: border-box;
}

body, ul, h1, h2, h3 {
  margin: 0 auto;;
  border: 0 auto;
  font-family: Helvetica, sans-serif;
  flex-direction: row;
}
.bio {
  font-size: 1.5em;
  box-sizing: border-box;
  padding: 10px;
  max-width: 30%;
  float: left;
}
a {
color: #40441E;
}
a:hover {
color: blue;
text-decoration: none;
}
.background #home #work {
  width: auto;
  height: auto;
  margin: 0 auto;
  border: 0 auto;
  padding: 0;
  opacity: 2;
}

.column1 .column2 .column3 {
box-sizing: border-box;
border: 1px solid black;
max-width: 45%;
height: auto;
flex-flow: column wrap;
}

.container {
flex-wrap: wrap;
padding-top: 50px;
}
footer {
  align-content: flex-end;
}
h1 {
font-size: 3em;
padding-left: 10px;
max-width: 50%;
}
h2 {
  font-size: 2em;
}
h3 {
font-size: 1.5em;
font-style: italic;
width: 45%;
}
h4 {
  font-size: 1em;
}
h5 {
font-size: .75em;
font-style: italic;
}
img {
max-width: 30%;
padding: 0 0 0 10px;
float:left;
}
/* style my navigation */
.main-nav {
float: right;
}
nav a {
text-decoration: none;
color: black;
}
nav li {
list-style: none;
display: inline-flex;
font-size: 1.5em;
padding-right: 10px;
float: right;
}
nav ul {
padding: 0;
max-width: 50%;
float: right:
display: inline-flex;
}
//* end of navigation style *//
.profile {
max-width: 30%;
padding: 40 0 0 10px;
float:left;
}
p > column1 column2 column3 {
  box-sizing: border-box;
  height: auto;
  width: auto;
  padding: 1em;
}
/*--#skills #specialities {
box-sizing: border-box;
border: 1px solid black;
width: 40%;
}
#skills {
padding: 60 10 0 10px;
float: left;--
}--*/
span {
font-style: italic;
}
/*--#specialities {
padding: 40 0 0 10px;
}*/

section #home #work #me {
  height: auto;
  width: auto;
}

section #me {
  background-color: tan;
  padding: 0;
  border: 0 auto;
  margin: 0 auto;
}
@media (min-width: 40em) {
  main {
    width: 35em;
  }
footer ul {
  display: flex;
  flex-direction: column;
}

@media (min-width: 28em) {
  footer li {
    width: 9em;
    margin-left: 1em;
  }
  footer ul {
    flex-direction: row;
    justify-content: center;
  }
